<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator Web App</title>
    <link rel="stylesheet" href="static/style_calculator.css">
</head>
<body>

<h1>Simple Calculator Web App</h1>
<hr>

<img src="static/math_symbols.jpg" alt="Math Symbols" width="300" height="200">

<h2>Enter your operator and numbers below:</h2>
<div>
<form method="post">
    <input type="number" name="num1" step="any" required>
    <select name="operation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="x">x</option>
        <option value="/">/</option>
        <option value="^">^</option>
    </select>

    <input type="number" name="num2" step="any" required>
    <button type="submit">Calculate</button>

</form>

    {% if result is not none %}
        <h3>Result = {{ result }}</h3>
    {% endif %}
</div>
</body>
</html>